@font-face {
  font-family: "BM-HANNA";
  src: url("../fonts/BM_HANNA_TTF_Regular.ttf");
}

html, body {
  font-family: "BM-HANNA";
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.navbar {
  display: flex;
  align-items:center;
  position: fixed;
  justify-content:space-between;
  width: 100%;
  height: 44px;
  background-color: #13c459;
  line-height: 44px;
  color: #000000;
}

.gato,
.perro {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.gato {
  background-size: 50px;
  background-position: top;
  background-image: url("../Imagenes/icon_gato.png");
}

.perro {
  margin-right: 20px;
  background-position: bottom;
  background-size: 40px;
  background-image: url("../Imagenes/icon_perro.png");
}

/* menu */
.menu ul {
  list-style:none;
  margin:0;
  padding:0;
 }
 
 /* enlaces del menu */
 .menu ul a {
  display:block; 
  padding:12px 40px;
  color:#ffffff;
  text-decoration:none;
  font-weight:400;
  font-size:20px;
  font-style: normal;
  line-height: 18px;
  font-family: 'BM HANNA_TTF';
  text-align: right;
 }
 
 /* items del menu */
 .menu ul li {
  position:relative;
  float:right;
  margin:0;
  padding:0;
  line-height:100%;
 }
 
 /* efecto al pasar el ratón por los items del menu */
 .menu ul li:hover {
  background: rgba(0,0,0, 0.2);
 }
 
 /* menu desplegable */
 .menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
  background-color: #58D68D;
 }
 
 .menu ul ul li {
  float:center;
  margin:0;
  padding:0;
  width: 100%;
 }
 
 .menu ul ul a {
  line-height:100%;
 }
 
 /* Para aparecer el submenu */
 .menu ul li:hover > ul {
  display:block;
 }
 
 /*  Flecha hacia abajo del menu desplegable */
 .flecha{
 width: 15px;
 height: 17px;
 position: relative;    
 left: 5px;
 top: 3px;
 }