/* estilo de las imagenes de las mascotas */  
.item img{
    width: 195px; 
    height: 175px;
}

/* Contenedor de la imágenes de las mascotas*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 64px;
}

/*  Estilos de las imágenes de las mascotas */
.flex-container > div {
  color: #000000;
  background-color: #B7E9CB;
  margin: 25px;
  width: 195px;
  margin-bottom: 60px;
  text-align: center;
}

/*  Estilos del botón Ver más */
.BtnVerMas{
    width: 195px;
    height: 35px; 
    text-align: center;
    background-color:mediumseagreen;
    color:#FFFFFF;
    margin-bottom: -50;
    border: none;

}

/* Estilos del contenedor de las mascotas */
.mascota {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:  30px 0px 50px 50px;

}

/*  Estilos de la targeta de imágene de las mascotas */
.foto {
  background-color: #5AAB71;
  margin: 0px;
  width: 350px;
  height: 350px;
  margin-bottom: 60px;
  text-align: center;
  border-radius: 8px;
}

.info {
  background-color: #BCEBCF;
  margin: 0px;
  width: 350px;
  height: 350px;
  margin-bottom: 60px;
  border-radius: 8px;
}

.foto img{
    width: 280px;
    height: 280px;
    padding: 35px 20px;
}

.datos {
    color: #000000;
    text-align: left;
    line-height: 6px;
    width: 300px;
    height: 110px;
    margin: 25px;
}

.descrip {
    color: #000000;
    background-color: #ffffff;
    text-align: left;
    line-height: 100%;
    width: 300px;
    height: 90px;
    margin: 25px;
    font-family: 'BM HANNA_TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.botones {
    width: 300px;
    height: 25px;
    margin: 25px;
    padding-top: 10px;
}

#btn_volver{
    width: 140px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    background:rgba(18, 140, 15, 0.58);;
    border:none;
    color:#ffffff;
    border-radius: 8px;
    float:right;


}

#btn_adoptar{
    width: 140px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    background:rgba(18, 140, 15, 0.58);;
    border:none;
    color:#ffffff;
    border-radius: 8px;
    float:left;

}



.card-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(264px,0fr));
    margin: 20px;

}

.card{
    background-color:#B7E9CB;
    display: flex;
    flex-wrap: wrap;
}

.card .card-header{
    flex-basis: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card .card-body{
    flex-basis: 100%;
    padding: 1rem;
}  

.card .card-body p {
    margin: 0;

}

.card .card-body button{
    margin-left: 0.3rem;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    padding: 0.7rem 1.75rem;
    border: 1px solid transparent;
    background-color: mediumseagreen;
    border-radius: 0.5rem;
    margin-top: 1.2rem;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    cursor: pointer;
}

.card .card-body button:hover{
    background-color: #13c459;
    border-color: transparent;
    color:white;
}

.card .card-header img {
    margin: 0%;
    width: 100%;
    flex-basis: 100%;
}

.btns {
    display: flex;
}

.container {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 34px;
    width: 100%;
    line-height: 34px;
    background-color: #13c459;
}
.container-cliente {

    padding: 2rem 0rem;
    background-color: #13c459;
}

#map{
    height: 500px;
    width: 100%;
}


.card-section-direction{
    display: grid;
    text-align: center;
    margin: 20px;

}

.card-direction{
    background-color:#B7E9CB;
    display: flex;
    flex-wrap: wrap;
}

.card-direction .card-body{
    flex-basis: 100%;
    padding: 1rem;

}  