body{
    background-size: 100vw 100vh;
}

label {
    margin-top:20px;
    letter-spacing:1px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

}
 

.rectangulo{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    width: 940px;
    height: 180px;
    background: #68b87e9a;
    box-sizing: border-box;
    border-radius: 8px;

}

#hueIzq {
    width: 195px;
}

#hueIzq img{
width: 195px;
height: 165px;
}


#textEnc {
    width: 550px;
    color: #ffffff;
    text-align: center;
    font-size: 72px;
    line-height: 0px; 
    font-family: 'BM HANNA_TTF';
    font-style: normal;
    float: center;
   
}

#hueDer{
    width: 195px;
}

#hueDer img{
    width: 195px;
    height: 165px;    
}
.gat img{
    position:absolute;
    width: 90px;
    height: 90px;
    left: 630px;
    top: 150px;
}
form {
    margin:0 auto;
    width: 940px;
    height: auto;
    background: rgba(183, 233, 203, 0.52);
box-sizing: border-box;
padding: 10px 20px;
border-radius: 8px;

}

input {
    width:380px;
    height: 12px;
    background:rgba(255, 255, 255, 0.83);
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color: #000;
    border-radius: 8px;
    box-sizing: border-box;
    top: 15px;
}
 
#btn_encuesta {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: royalblue;
}

#btn_cancelar{
    width: 145px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    background:rgba(18, 140, 15, 0.58);;
    border:none;
    color:#ffffff;
    border-radius: 8px;
    float: left;
   

}

#btn_enviar{
    width: 145px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    background:rgba(18, 140, 15, 0.58);;
    border:none;
    color:#ffffff;
    border-radius: 8px;
    float: right;
}